body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app{
  height:100vh;
  display: grid;
  grid-template-areas: 
    'header'
    'main'
    'footer'
  ;
  grid-template-columns: 1fr;
  grid-template-rows:5rem 1fr 3rem ;

}
.head{
  grid-area: header;
  display: flex;
  justify-content: space-between;
  background-color: cornflowerblue;
  color:darkgreen;
  font-weight: bold;
  font-size: 2rem;
  padding: 1rem;
}
.medium{
  width: 10rem;
  height: 10rem;
  margin:2rem;
}
.player{
  margin:10rem 27rem;
}
.main{
  grid-area: main;
  background-color: rgb(113, 238, 238);
}
.foot{
  grid-area: footer;
   padding: 1rem;
   text-align: center;
   background-color:cornflowerblue ;
}

/* Form */ 
.form {
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
 flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: .5rem 0;
  display: block;
}
/* .form button{
  width: 50%;
  margin: .5rem 15rem;
  
} */
.progress{
  display: flex;
  justify-content:space-around;
}

/* Card */
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card {
  border: 0.1rem #ca9898 solid;
  background-color: rgb(148, 219, 219);
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}

/* Common */
a {
  text-decoration: none;
}
a:hover {
  color: #ff0000;
}
input,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}